<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">Solar Bodies</h1>
            <!-- controls -->
            <div class="input-group mb-1">
                
                <!--Size-->

                <!--Page Size:
                <select (change)="size($event)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="100">100</option>
                </select>-->
            </div>
            <!-- table -->
            <div class="card mb-3" *ngIf="SolarBodies">
                <div class="card-body">
                    <table class="table table-hover">
                        <!--<thead>
                            <tr>
                            <th (click)="order('id')" role="button" style="width: 10%;">
                            # <span *ngIf="by('id')">{{ direction }}</span>
                            </th>
                            <th (click)="order('name')" role="button">
                            Name <span *ngIf="by('name')">{{ direction }}</span>
                            </th>
                            <th (click)="order('englishName')" role="button">
                            English Name <span *ngIf="by('englishName')">{{ direction }}</span>
                            </th>
                            <th (click)="order('discoveredBy')" role="button" style="width: 15%;">
                            Discovered By <span *ngIf="by('discoveredBy')">{{ direction }}</span>
                            </th>
                            <th (click)="order('alternativeName')" role="button">
                            Alternative Name <span *ngIf="by('alternativeName')">{{ direction }}</span>
                            </th>
                            </tr>
                        </thead>-->
                        <thead>
                            <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>English Name</th>
                            <th>Discovered By</th>
                            <th>Alternative Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solarBody of SolarBodies.bodies| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
                                
                            <!--<tr *ngFor="let solarBody of SolarBodies.bodies">-->
                                <th scope="row">{{solarBody.id}}</th>
                                <td>{{solarBody.name}}</td>
                                <td>{{solarBody.englishName}}</td>
                                <td>{{solarBody.discoveredBy}}</td>
                                <td>{{solarBody.alternativeName}}</td>
                                <td>
                                    <span class="edit" routerLink="/astronomical-detail/{{ solarBody.id }}"
                                      >Details</span>
                                </td>
                                <!--<td>
                                    <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-issue/', issues.id]">Edit</button>
                                </td>-->
                            </tr>
                            <tr *ngIf="!SolarBodies.bodies.length">
                                <td colspan="5" class="text-center p-5">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- paginator -->
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </div>
  </div>