<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">Solar Bodies</h1>
            <!-- table -->
            <div class="card mb-3" *ngIf="SolarBodies">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name of the star</th>
                                <th>English name of the star</th>
                                <th>Name of the discoverer of the star</th>
                                <th>Date of discovery of the star</th>
                                <th>Is it a planet</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solarBody of SolarBodies.bodies| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">                                
                                <th scope="row">{{solarBody.name}}</th>
                                <td>{{solarBody.englishName}}</td>
                                <td>{{solarBody.discoveredBy}}</td>
                                <td>{{solarBody.discoveryDate}}</td>
                                <td>{{solarBody.isPlanet}}</td>
                                <td>
                                    <!--<span class="edit" routerLink="/astronomical-detail/{{ solarBody.id }}">{{ solarBody.id }}</span>-->
                                    <a routerLink="/astronomical-detail/{{ solarBody.id }}">{{ solarBody.id }}</a>
                                </td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
            <!-- paginator -->
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </div>
  </div>